@page "{TemplateAppId}"
@model TemplateAppModel
@{
    ViewData["Title"] = "Шаблоны приложения";
}

<div class="breadcrumbs col s12">
    <a href="/TemplateApps">Приложения</a>
    <span>&#62;</span>
    <span>@Model.TemplateApp.Name</span>
</div>

<h5>Шаблоны приложения</h5>
<div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
    </div>

    <table class="highlight centered">
        <thead>
            <tr>
                <th>Формат</th>
                <th>Идентификатор</th>
                <th>Создан</th>
                <th>Изменён</th>
                <th>Использован</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var template in @Model.Templates)
            {
                <tr onclick="window.location.href='/Template/@template.Id'; return false" style="cursor: pointer;">
                    <td><img class="template-img" src="/img/@(template.ImageName).svg"></td>
                    <td><div class="left-align">@template.Id</div></td>
                    <td><div>@template.CreateTimeStamp</div></td>
                    <td><div>@template.TimeStamp</div></td>
                    <td><div>@template.LastUsedDateTime</div></td>
                </tr>
            }
        </tbody>
    </table>
</div>
